.row
    .col-sm-6.col-md-4
        .thumbnail
            img(src='...', alt='...')
            .caption
                h3 Thumbnail label
                p ...
                p
                    a.btn.btn-primary(href='#', role='button') Kosárba
                    a.btn.btn-default(href='#', role='button') Részletek
